body{
    margin: 0px;
    background-image: url(images/4.jpg);
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.nav{
    background-color: black;
    font-size: 20px;
    display: flex;
    justify-content:space-between;    
}

.nav ul{
    padding-left: 0px;
    text-align: right;
    margin: 0px;   
}

.nav li{
    list-style: none;
    display: inline-block;
    margin: 15px 20px;
    border-bottom: 1px solid black;
    padding: 5px;
    color: white;
} 

p{
    color: white;
    margin-left: 40px;
    font-family:cursive;
}

a{
    color: white;
    text-decoration: none;
}

.main{
    position:static;
    border: 2px solid white;
    margin: 25px 54px;
    padding: 18px 30px;
    width: 25vw;
    height: 68vh;
    border-radius: 20px;
    display: inline-block;
    background-image: url(/images/11.jpg);
    background-size: cover;
    align-items: flex;
}

.form-group input{
    text-align: center;
    display: block;
    width: 25vw;
    padding: 1px;
    border: 2px solid black;
    margin: 1px auto;
    font-size: 22px;
    border-radius: 8px;
    align-items: flex;
}

.form-group{
    width: 25vw;
}

.dropdown{
    color: white;
}

.main h2{
    text-align: center;
    font-size: 28px;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 12px;
    margin-top: 0px;
}

.main button{
    margin:30px auto;
    display: block;
    width: 20%
}

.btn{
    font-family:fantasy;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 10px;
    font-size: 16px;
}

.gender,label{
    text-align: left;
    color: white;
    font-size: 22px;
    margin-left:0px ;
}

img{
    width: 100%;
}

.main2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25vh;
}

div.gallery {
    margin: 20px;
    border: 1px solid #ccc;
    float: right;
    width: 600px;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
    
}
  
div.desc {
    padding: 15px;
    text-align: center;
}

footer{
    background-color: black;
    color: seashell;
    text-align: center;
    padding: 10px;
}



  